@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


/* App Container */
:root {
  --main-bg-color: #2a2c35; /* Dark Metal Grey */
  --accent-color: #4c4f5b; /* Slightly Lighter Metal Grey */
}
/* App Container */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  background-image: linear-gradient(to bottom, var(--main-bg-color) 0%, var(--accent-color) 100%);
  color: #ffffff;
  
}


.app-header {
  position: sticky;
  top: 0;
  z-index: 1;
  /* background-image: linear-gradient(to right, #a0a0a0, #d8d8d8); */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.app-title {
  font-family: 'Montserrat', sans-serif; /* Add the Montserrat font */
  font-weight: 600; /* Specify the font weight */
  /* font-size: 45px; */
  padding: 10px;
  color: #ffffff;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
               0 0 20px rgba(11, 3, 23, 0.8),
               0 0 30px rgba(255, 255, 255, 0.8),
               0 0 40px rgba(69, 93, 102, 0.8),
               0 0 50px rgba(255, 255, 255, 0.8);
}

/* Main Content */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
  max-width: 800px;
  
}

/* File Upload Container */
.app-header {
  padding: 20px;
  text-align: center;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  /* background-image: url('./assets/he3.gif'); */
  background-size: cover;
  background-position: center center;
  background-color: #ffffff;
}


.file-upload-container {
  background-color: #4c4f5b;
  background-image: linear-gradient(to bottom, #4c4f5b 0%, #3c3f49 100%);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 16px;
  margin-bottom: 20px;
  position: sticky;
  top: 68px; /* Adjust the top position to make it take 20% of the height */
}

/* Chatbot Section */
.chatbot-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* max-height: calc(80vh - 88px); Adjust the max-height to make it take 80% of the height and consider margins */
  background-color: #4c4f5b;
  background-image: linear-gradient(to bottom, #040818 0%, #493c3c 100%);
  border-radius: 8px;
  box-shadow: 10 4px 8px rgba(247, 4, 4, 0.1);
   /* max-width: 100%; */
  /* margin: 0 auto;  */
  
 
}

.no-margin-paper {
  margin: 0;
}




.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  scrollbar-width: thin;
}


/* User Message */
.user-message {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

/* Bot Message */
.bot-message {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
}

/* Message Text */
.message-text {
  max-width: 70%;
  padding: 8px 12px;
  word-wrap: break-word;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Chat Input */
.chat-input {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 8px 16px;
  border-top: 1px solid #f0f0f0;
  width: 100%;
  /* position: relative; Add position relative */
}

/* Input Container */
.input-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 90%;
}

/* Adjust the input width directly */
.chat-input input {
  /* flex: 1; */
  width: 100%;
  /* width: calc(100% - 64px); Set the width of the input field with a margin on each side */
  padding: 8px;
  border: none;
  border-radius: 9px;
  outline: none;
  background-color: #f0f0f0;
  color: #333333;
  font-size: 14px;
}

.chat-input button {
  margin-left: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease;
}

.chat-input button:hover {
  background-color: #0056b3;
}

/* Typing Indicator Animation */
@keyframes typing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Center the loading indicator */
.typing-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 16px; /* Adjust the position as needed */
  transform: translateY(-50%);
  padding: 8px;
}

.typing-indicator span {
  display: inline-block;
  margin-right: 8px;
  width: 6px;
  height: 6px;
  background-color: #007bff;
  border-radius: 50%;
  animation: typing 1s infinite;
}

.typing-indicator span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-indicator span:nth-child(3) {
  animation-delay: 0.4s;
}